*, *:before, *:after {
  text-decoration: none;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  @include box-sizing(border-box);
}



img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

// --------------------------------------------------
// RESETS END
// --------------------------------------------------